DISPATCHARR_DEV_URL=https://tv-dev.example.tld
DISPATCHARR_PROD_URL=https://tv.example.tld
DISPATCHARR_DEV_USER=admin
DISPATCHARR_DEV_PASS=changeme
DISPATCHARR_PROD_USER=admin
DISPATCHARR_PROD_PASS=changeme
